# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.so
*.log

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ===============================
# Environment / Virtualenv
# ===============================
.env
.venv/
venv/
ENV/
env/
Pipfile.lock

# ===============================
# Dataset & Submission
# ===============================
data/
*.csv
*.xlsx
*.tsv
submission/
outputs/
*.zip

# ===============================
# Models
# ===============================
models/
*.pkl
*.joblib
*.h5
*.onnx
*.tflite

# ===============================
# MacOS + VS Code
# ===============================
.DS_Store
.vscode/
.idea/

# ===============================
# Others (optional)
# ===============================
*.bak
*.swp
*.tmp
